/* 
Theme: Foresee(Dark Mode)
Author : passwordgloo
Github : https://github.com/passwordgloo/Style
*/

/*---------Global style ----------*/
body,
h1,
h2,
p,
ul,
li,
ol,
div,
html,
img,
blockquote {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0dcaf0;
    --green: #33CC66;
    --yellow: #ffc107;
    --theme-color: #FF6347;
    --white: #FFFFFF;
    --dark: #323232;
    --light: #A8A8A8;
    --light-dark: #3E3E3E;
    --gray: #CCCCCC;
    --light-gray: #B3B3B3;
    --text-size:1.2em;
    --font-family: "Arial", "Microsoft YaHei", "sans-serif", "PingFang SC", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI";
}

/*---------Edge/Chrome -----------*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-dark);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--light);
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
}

/*----------Firefox --------------*/
html {
    cursor: url(paperplane.ico), auto;
    scrollbar-color: var(--dark) rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
}

/*----------Card theme------------*/
main {
    margin: 15% 5%;
    padding-bottom: 1em;
    font-family: var(--font-family);
    border-radius: 12px;
    background-color: var(--dark);
    box-shadow: 0 12px 5px -10px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 12px 5px -10px rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

nav::before {
    content: '● ● ●';
    float: right;
    font-size: 1.6em;
    background-image: -webkit-linear-gradient(left, var(--theme-color) 33%, var(--green) 33%, var(--green) 67%, var(--yellow) 67%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    padding: 4px 20px;
    height: 1.6em;
    line-height: 1.6em;
    color: var(--light);
    font-weight: bold;
    font-size: 1.6em;
    font-family: var(--font-family);
    border-radius: 12px 12px 0 0;
    background: var(--light-dark);
}

h1 {
    margin: .5em 0 0 .5em;
    color: var(--gray);
}

h1::before {
    content: "";
    animation: all 0.3s ease;
    margin: 0 .5em;
    border-left: 10px solid Tomato;
}

h2 {
    margin: .5em 0;
    line-height: 1.5;
    color: var(--theme-color);
    font-family: var(--font-family);
    border-bottom: 1px dashed var(--theme-color);
}

h3 {
    margin: .5em 0;
    color: var(--theme-color);
    font-family: var(--font-family);
}

article {
    display: inline-block;
    padding: 0 2em;
    font-size:var(--text-size);
    color: var(--light);
}


.cloze {
    font-weight: bold;
    color: var(--theme-color);
}

p {
    margin-top: 1em;
    text-indent: 1em;
    font-size:var(--text-size);
    color: var(--light);
}

*::selection {
    background: var(--theme-color);
    color: var(--white);
}

/*--------------hover tip------------------*/
/* <u data-title="tip text">hover text</u> */

u {
    position: relative;
}

u:hover::before {
    content: attr(data-title);
    display: inline-block;
    height: 1.4em;
    text-indent: 0;
    padding: 0.2em;
    word-spacing: nowrap;
    border-radius: .3em;
    position: absolute;
    text-align: center;
    left: 0em;
    top: -1.9em;
    background-color: var(--theme-color);
    color: var(--white);
}

u:hover::after {
    position: absolute;
    left: 1em;
    top: -0.1em;
    width: 0px;
    height: 0px;
    content: " ";
    border-right: 7px solid transparent;
    border-top: 7px solid var(--theme-color);
    border-left: 7px solid transparent;
    border-bottom: 7px solid transparent;
}

/*------------- Block ----------------*/

b,
strong,
code {
    padding: .3rem;
    margin-right: .4em;
    color: var(--theme-color);
    border-radius: 2px;
    background-color: var(--light-dark);
}

sup {
    margin: 0 .3em;
    padding: .05em .1em;
    font-size: medium;
    color: var(--theme-color);
    border-radius: 4px;
    background-color: var(--light-dark);
}

blockquote {
    padding-left: .5em;
    color: var(--gray);
    line-height: 1.5em;
    border: none;
    background-color: var(--light-dark);
    border-left: 4px solid var(--light-gray);
}

/*------------- Table ----------------*/
table {
    border-collapse: collapse;
    margin: 0 auto;
    color: var(--light-dark);
}

caption {
    color:var(--light);
    font-family: var(--font-family);
    font-size:var(--text-size);
    margin: 20px 0 10px 0;
}

table td {
    font-weight: normal;
    text-align: left;
}

th,
td {
    padding: .6em;
    font-size:var(--text-size);
}

th {
    text-align: center;
    color: var(--light);
    background: var(--light-dark);
}

tr:nth-child(even) {
    background: #919197;
}

tr:nth-child(odd) {
    background: #77777c;
}

/*------------- List ----------------*/
ul>li,
ol>li {
    margin-left: 2em;
    font-size:var(--text-size);
    color: var(--light-gray);
}

li::marker {
    color: var(--theme-color);
}

/* ------------- Badge -------------- */
span[alt="blue"]{
    margin-left:.2em;
    padding:0 .5em;
    color:var(--white);
    border-radius: 5%;
    background-image: linear-gradient(to right, #00E3AE 0%, #00c9ff 100%);
}

span[alt="orange"]{
    margin-left:.2em;
    padding:0 .5em;
    color:var(--white);
    border-radius: 5%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

span[alt="purple"]{
    margin-left:.2em;
    padding:0 .5em;
    color:var(--white);
    border-radius: 5%;
    background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

em{
    font-style:normal;
    border-bottom: 4px dotted #00CD66;
}

del{
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: #00CD66;
}

